:root{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.333333;

    box-sizing: border-box;
}

*, 
*::before,
*::after{
    box-sizing: inherit;
}



h1{
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.416666;
}

h2{
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.15;
}

figcaption{
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.75;
    font-style: italic;
    text-align: center;
}


table{
    width: 356px;
    height: 216px;
}

li{
    border-bottom: 1px solid #89B8C2;
    border-collapse: collapse;
}

table > li:nth-child(odd) {
   background-color: #89B8C2; 
}